<div class="row">
  <div class="col-md-10">
    <nb-card>
      <nb-card-header>Barbeiro</nb-card-header>
      <nb-card-body>

        <div class="form-group row">
          <label for="inputCodigo" class="col-sm-3 col-form-label">Codigo</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="inputCodigo" [(ngModel)]="barbeiro.id" placeholder="Código" [readonly]="!pesquisa">
          </div>
        </div>
        <div class="form-group row">
          <label for="inputNome" class="col-sm-3 col-form-label">Nome</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="inputNome" [(ngModel)]="barbeiro.nome" placeholder="Descrição">
          </div>
        </div>
        <div class="form-group row">
          <label for="inputTelefone" class="col-sm-3 col-form-label">Telefone</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="inputTelefone" [(ngModel)]="barbeiro.telefone" placeholder="Telefone" mask='(99)9999:9999'>
          </div>
        </div>
        <div class="form-group row">
          <label for="inputEmail" class="col-sm-3 col-form-label">Email</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="inputEmail" [(ngModel)]="barbeiro.email" placeholder="Email">
          </div>
        </div>
        <div class="form-group row">
          <label for="inputMaterial" class="col-sm-3 col-form-label">Material</label>
          <select class="form-control" name="inputMaterial" [(ngModel)]="barbeiro.materialTrabalho">
            <option>BARBEARIA</option>
            <option>PESSOAL</option>
          </select>
        </div>
        <div class="form-group row">
            <label for="inputMaterial" class="col-sm-3 col-form-label">Turno Trabalho</label>
            <select class="form-control" name="inputMaterial" [(ngModel)]="idTurnoTrabalho">
              <option *ngFor="let turno of turnos" [value]="turno.id" >{{turno.descricao}}</option>
            </select>
          </div>
        <div class="form-group row">
          <div class="offset-sm-3 col-sm-9">
            <button type="button" class="btn btn-primary btn-info btn-tn" (click)="novo()" >Novo</button>
            <button type="button" class="btn btn-primary btn-info btn-tn" (click)="save()" [disabled]="pesquisa">Salvar</button>
            <button type="button" class="btn btn-primary btn-info btn-tn" (click)="pesquisar()" [disabled]="!pesquisa">Pesquisar</button>
            <button type="button" class="btn btn-primary btn-danger btn-tn" (click)="cancelar()">Cancelar</button>
          </div>
        </div>

      </nb-card-body>
    </nb-card>
    <nb-card accent="info">
      <nb-card-header>Clientes</nb-card-header>
      <nb-card-body>
        <div class="table-responsive">
          <table class="table table-bordered">
            <tr>
              <th>editar</th>
              <th>Apagar</th>
              <th *ngFor="let coluna of columns">{{coluna.title}}</th>
            </tr>
            <tr *ngFor="let barbeiroEscolhido of barbeiros">
                <td >
                    <i (click)="editar(barbeiroEscolhido)" class="ion-ios-create"></i>
                </td>
                <td  >
                    <i (click)="apagar(barbeiroEscolhido)" class="ion-ios-remove-circle"></i>
                </td>
              <td>{{barbeiroEscolhido.id}}</td>
              <td>{{barbeiroEscolhido.nome}}</td>
              <td>{{barbeiroEscolhido.telefone}}</td>
              <td>{{barbeiroEscolhido.email}}</td>
              <td>{{barbeiroEscolhido.materialTrabalho}}</td>
              <td>{{barbeiroEscolhido.turnoTrabalho.descricao}}</td>
            </tr>
          </table>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
